# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  NAMESPACE: tsukasahirai
  IMAGE_NAME: reverse-proxy-apl

jobs:
  test:

    runs-on: ubuntu-latest

    services:
      docker:
        image: docker:26.1.3-dind

    env:
      SPANNER_EMULATOR_HOST: localhost:9010

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Set up gcloud
      uses: google-github-actions/setup-gcloud@v1
      with:
        version: 'latest'

    - name: Set Up gcloud Configuration
      run: |
        docker run -d -p 9010:9010 -p 9020:9020 gcr.io/cloud-spanner-emulator/emulator
        gcloud config configurations create emulator
        gcloud config set auth/disable_credentials true
        gcloud config set project test-project
        gcloud config set api_endpoint_overrides/spanner http://localhost:9020/
        gcloud config configurations activate emulator

    - name: Create Spanner Instance and Database
      run: |
        gcloud spanner instances create test-instance --config=emulator-config --description="Test instance" --nodes=1
        gcloud spanner databases create example-db --instance=test-instance

    - name: Run the Maven verify phase
      run: ./mvnw jacoco:prepare-agent --batch-mode --update-snapshots verify jacoco:report

    - name: jacoco report artifact
      uses: actions/upload-artifact@v4
      with:
        name: my-artifact
        path: ./target/site/jacoco

  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write
    steps:
      - name: JIB container build and publish
        uses: MathieuSoysal/jib-container-publish.yml@v2.1.5
        with:
          # Use docker.io for Docker Hub if empty
          REGISTRY: ${{ env.REGISTRY }}
          # github.repository as <your-account>/<your-repo>
          IMAGE_NAME: ${{ env.NAMESPACE }}/${{ env.IMAGE_NAME }}
          # Tag name of the image to publish
          tag-name: latest,${{ github.sha }}
          # Username to login to registry
          USERNAME: ${{ github.actor }}
          # Password to login to registry
          PASSWORD: ${{ secrets.GITHUB_TOKEN }}
          java-version: 21
